<!DOCTYPE html>
<html ng-app="Test">
<head lang="en">
    <meta charset="UTF-8">
    <title>Dialog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../angular-1.2.30.js"></script>
    <link rel="stylesheet" type="text/css" href="../ng-ui-dialog.css">
    <style>

    </style>

</head>
<body ng-controller="testApp">
<button ng-click="showDialog(1)">Диалог 1</button>
<button ng-click="showDialog(2)">Диалог 2</button>

<div ng-ui-dialog data-uid="1"
     data-params="handler-class: ng-ui-dialog-handler,draggable: true, resizable:true, title: диалог 1, close-btn: true">
    <div>
        Тело диалога 1
    </div>
</div>

<div ng-ui-dialog data-uid="2"
     data-params="handler-class: ng-ui-dialog-handler, modal: false, title: диалог 2">
    <div>
        Тело диалога 2
    </div>
</div>

<script src="../ng-ui-dialog.js"></script>

<!--

-->
</body>
</html>